<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/master.html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <div layout:fragment="context">

            <div class="container">
                <h1 th:text="${statusCode}"></h1>
                <p class="text-muted">Something was wrong!</p>
                <h2 th:text="${messages}">Our Engineers are on it</h2>
                <a href="#" th:href="@{/}">Go Home</a>
            </div>

        </div>




</body>
</html>
